In [1]:
import pandas as pd
data=pd.read_csv(r"SPY_DS1.csv")

In [2]:
data.head()

,t,o,h,l,c,v,n,vw,date,time
0,1642625940000,451.74,451.96,451.46,451.7900,3095800,17857,451.6706,2022-01-19,15:59:00
1,1642625880000,452.01,452.09,451.64,451.7500,1484956,8746,452.5418,2022-01-19,15:58:00
2,1642625820000,452.07,452.18,451.93,452.0101,893222,6800,452.0695,2022-01-19,15:57:00
3,1642625760000,452.31,452.31,451.88,452.0707,899926,7374,452.0048,2022-01-19,15:56:00
4,1642625700000,452.60,452.72,452.09,452.3200,1676390,7195,454.1091,2022-01-19,15:55:00

In [9]:
from sklearn.ensemble import  RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

y=data.o
features1=["vw","v","n"]
features2=["vw","v","n","c"]
x1=data[features1]
x2=data[features2]
train_X, val_X, train_y, val_y =train_test_split(x1, y, random_state=1)
train_X2, val_X2, train_y2, val_y2 =train_test_split(x2, y, random_state=1)



forest_model=RandomForestRegressor(random_state=1)

forest_model.fit(train_X,train_y)
val_predictions=forest_model.predict(val_X)
val_mae=mean_absolute_error(val_predictions, val_y)
print(val_mae)
forest_model.fit(train_X2,train_y2)
val_predictions2=forest_model.predict(val_X2)
val_mae2=mean_absolute_error(val_predictions2, val_y2)
print(val_mae2)

0.19148899725035579
0.07870192910270728

In [10]:
forest_model.fit(x2,y)

RandomForestRegressor(random_state=1)

In [11]:
dicti={'vw':451.6706,'v':3095800,'n':17857}
pre=pd.DataFrame({'vw':[451.6706],'v':[3095800],'n':[17857],'c':[451.7900]})

In [12]:
val_pre=forest_model.predict(pre)
print(val_pre)

[451.68415]

In [ ]:
import pandas as pd
from sklearn.ensemble import  RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
data=pd.read_csv(r"SPY_DS1.csv")
data.head()

y=data.o
features1=["vw","v","n"]
features2=["vw","v","n","c"]
x1=data[features1]
x2=data[features2]
train_X, val_X, train_y, val_y =train_test_split(x1, y, random_state=1)
train_X2, val_X2, train_y2, val_y2 =train_test_split(x2, y, random_state=1)



forest_model=RandomForestRegressor(random_state=1)

forest_model.fit(train_X,train_y)
val_predictions=forest_model.predict(val_X)
val_mae=mean_absolute_error(val_predictions, val_y)
print(val_mae)
forest_model.fit(train_X2,train_y2)
val_predictions2=forest_model.predict(val_X2)
val_mae2=mean_absolute_error(val_predictions2, val_y2)
print(val_mae2)

forest_model.fit(x2,y)